<?xml version="1.0" encoding="UTF-8" standalone="no"?>


<config>
    <womanType>w</womanType>
    <manType>m</manType>
    <rebotType>r</rebotType>

    <fileLoggerFactory>reading.designPatternLesson.creational.factoryMethod.FileLoggerFactory</fileLoggerFactory>
    <dataBaseLoggerFactory>reading.designPatternLesson.creational.factoryMethod.DataBaseLoggerFactory</dataBaseLoggerFactory>
    <macFactory>reading.designPatternLesson.abstractFactory.MacFactory</macFactory>
    <pcFactory>reading.designPatternLesson.abstractFactory.PcFactory</pcFactory>

    <commandClassName>reading.designPatternLesson.command.HelpCommand</commandClassName>
</config>








